<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTeams"  >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap e CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <!-- Agularjs -->
        <script src="lib/angular.js"></script>
        <script src="js/script.js"></script>
        <script src="js/controller/listaTeamsCtrl.js"></script>

        <title>EQUIPES</title>
    </head>
    <body ng-controller="listaTeamsCtrl">
        <header >
            <div class="jumbotron bg-amarelo">
                <div class="container pghelper-bs4-grid-parent-relative">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column justify-content-between">
                            <div>
                                <h1>EQUIPES BRASILEIRÃO 2019</h1>
                                <p>FICHA TÉCNICA</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-secondary" href="view/cadastro.html">Cadastro</a>
                                <a type="button" class="btn btn-secondary" href="view/relatorio.html">Relatório</a>
                                <a type="button" class="btn btn-secondary" href="view/editar.html">Editar</a>
                            </div>
                        </div>
                        <div class="col-md-8 flex-column align-items-end">
                            <div>
                                <img src="Img/cbf.jfif" class="img-fluid">
                            </div>
                            <div>
                                <div class="input-group justify-content-center">
                                    <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando?" aria-label="Recipient's username" aria-describedby="button-addon2"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="button-addon2" type="button">Pesquisa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="vh-100" >
            <div class="container">
                <legend>Equipes</legend>
                <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
                <table class="table table-striped" >
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col-1">ID</th>
                            <th scope="col-3"><a href="#" ng-click="ordenarPor('name')">Nome</a></th>
                            <th scope="col-3">Treinador</th>
                            <th scope="col-4">Descrição</th>
                            <th scope="col-1">Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="team in teams.teams | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" >
                            <th scope="row">{{team.id}}</th>
                            <td>{{team.name}}</td>
                            <td>{{team.coach}}</td>
                            <td>{{team.description}}</td>
                            <td>deletar com img</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </main>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#">&lt;&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&gt;&gt;</a>
            </li>
        </ul>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
