<!DOCTYPE html>
<html lang="pt-br" dir="ltr" ng-app="">
  <head>
    <meta charset="utf-8">

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap e CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- angularjs minificado -->
    <script src="../js/angular.min.js"></script>
    <title>Editar</title>
  </head>
  <body class="bg-dark">
    <header class="">
      <nav class="navbar navbar-expand-lg navbar-light bg-amarelo">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- botão caso o resolução for pequena  -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <!-- opções de navegação do navbar -->
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active mx-3">
              <a href="../index.html" class="btn border grad mx-3 tamanho-botao text-light">Inicio</a>
            </li>
            <li class="nav-item active">
              <a href="../view/cadastro.html" class="btn border grad mx-3 tamanho-botao text-light" >Cadastro</a>
            </li>
            <li class="nav-item active">
              <a href="../view/editar.html" class="btn border grad mx-3 tamanho-botao text-light">Editar</a>
            </li>
            <li class="nav-item active">
              <a href="../view/relatorio.html" class="btn border grad mx-3 tamanho-botao text-light">Relatório</a>
            </li>

          </ul>
          <form class="form-inline mr-auto ml-auto"  method="post">

            <input type="search" name="" value="" class="form-control mr-sm-2 w-75" placeholder="Pesquisa" arial-label="Procurar" >
            <button type="submit" name="button" class="btn  btn-outline-info">
              <img src="../img/icons/search.svg" width="20" height="20" alt="">
            </button>

          </form>
        </div>

        <a href="../index.html" class="navbar-brand">
          <img src="../img/icons/soccer-ball.ico" class="navbar-brand" alt="">
        </a>

      </nav>
    </header>

    <main class="container bg-azul py-5">
      <form class="container bg-dark text-light ">
        <fieldset>

          <!-- Form Name -->
          <legend>Cadastro de Time</legend>

          <!-- Text input-->
          <div class="form-group ">
            <label class="col control-label" for="name">NOME</label>
            <div class="col">
            <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">Informe nome do time</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col control-label" for="treinador">TREINADOR</label>
            <div class="col">
            <input id="treinador" name="treinador" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">Informe nome do treinador</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col control-label" for="descricao">descrição</label>
            <div class="col">
            <textarea id="descricao" name="descricao" type="text" placeholder="" class="form-control input-md"></textarea>
            <span class="help-block">Informe a descrição do time</span>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col control-label" for="salvar"></label>
            <div class="col">
              <button id="salvar" name="salvar" class="btn btn-success">SALVAR</button>
              <button id="cancelar" name="cancelar" class="btn btn-danger">Cancelar</button>
            </div>
          </div>

        </fieldset>
      </form>
    </main>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

  </body>
</html>
