<nav class="navbar navbar-expand-lg navbar-light bg-amarelo">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- botão caso o resolução for pequena  -->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <!-- opções de navegação do navbar -->
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active mx-3">
        <a href="../index.html" class="btn border grad mx-3 tamanho-botao text-light">Inicio</a>
      </li>
      <li class="nav-item active">
        <a href="../view/cadastro.html" class="btn border grad mx-3 tamanho-botao text-light">Cadastro</a>
      </li>
      <li class="nav-item active">
        <a href="../view/editar.html" class="btn border grad mx-3 tamanho-botao text-light">Editar</a>
      </li>
      <li class="nav-item active">
        <a href="../view/relatorio.html" class="btn border grad mx-3 tamanho-botao text-light">Relatório</a>
      </li>

    </ul>
    <form class="form-inline mr-auto ml-auto" method="post">

      <input type="search" name="" value="" class="form-control mr-sm-2 w-75" placeholder="Pesquisa" arial-label="Procurar">
      <button type="submit" name="button" class="btn  btn-outline-info">
        <img src="../img/icons/search.svg" width="20" height="20" alt="">
      </button>

    </form>
  </div>

  <a href="../index.html" class="navbar-brand">
    <img src="../img/icons/soccer-ball.ico" class="navbar-brand" alt="">
  </a>

</nav>
